<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>	


        <!--SEO Features-->
        <title>pAwlert </title>
        <meta property="og:description" content="">
        <meta name="description" content="">

	</head>
	<body class="text-center">
	<header id="headerLogin" >	
			{{#unless logged_in}}
				<a href="/users/sign-in">Sign In</a>
				|
				<a href="/users/new">Sign Up</a>				
			{{/unless}}
			{{#if logged_in}}
			    <div class="navbar navbar-static-top">
			      <div class="container"> 
			        <div class="navbar-header">
			          <a class="navbar-brand" href="/profile">Welcome {{username}}</a>
			        </div>
			        <div class="navbar-collapse collapse">
			        
			        <header class ="header hpadding">
                        <h1>pAwlert</h1>
                        <p>Awlerts To Bring Your Lost Paws Home!</p>
      				</header>
			          <ul class="nav navbar-nav navbar-right">
			            <li><a href="/post" id="menu">Post a Paw</a></li>
                          <li><a href="/find" id="menu">Find a Paw</a></li>
			            <li><a href="/users/sign-out" id="menu">Sign Out</a></li>
			          </ul>
			        </div>
			      </div>
			    </div>
			{{/if}}
	</header>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		{{#unless logged_in}}
		<header class ="header hpadding">
                        <h1>pAwlert</h1>
                        <p>Awlerts To Bring Your Lost Paws Home!</p>
      				</header>
		{{/unless}}
		{{{ body }}}
	</body>
</HTML>