.jumbotron {
		background-image: url("images/paws.jpg");
		background-position: center center;
	    background-repeat: no-repeat;
	    background-attachment:fixed;
	    background-size: cover;
	    color: white;
	    font-family: 'Source Sans Pro', sans-serif;
	}

.title {
	font-size: 4.35em;
	font-weight: 600;
	letter-spacing: -0.035em;
	line-height: 1em;
}	