  <div id="ww">
      <div class="container">
      <div class="row">
        {{#each favorite}}
        <div class="col-lg-4">
        <h4>Found Pets</h4>
        <h3>{{this.fave_name}}</h3>
        <p><a href="/readmore/{{this.fave_name}}"><button class="btn btn-default">Read More</button></a></p>
        </div> 
      {{/each}}
      </div>
      </div>
         <div id="footer">
       </div>
  </div>
  </div>