<div id="container_demo" >
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
<h1>Sign In</h1>                        
<form class="create-update-form signLogin" action="/users/login" method="POST">

  <div class="form-group">
    <label for="em" class="youmail" data-icon="e">Email:</label>
    <input type="text" id="em" name="email" placeholder="mymail@gmail.com">
  </div>

  <div class="form-group">
    <label for="pass" class="youpasswr" data-icon="p">Password:</label>
    <input type="password" id="pass" name="password" placeholder="password">
  </div>

  <button type="submit" class="btn btn-default">Sign In</button>
</form>