    <div id="ww">
      <div class="container text-center">
      <div class="row">
        

          <h1 >{{crime.name}}</h1>
          <p id = "article">{{crime.article}}</p>
        <p>Help Find This Paw!</p> 
        
        
       
        </div>
          
      </div>
  </div>
  </div>